node_modules/
frontend/node_modules/
fastapi_backend/node_modules/

venv/
fastapi_backend/venv/
__pycache__/
*.pyc

.env
frontend/.env
fastapi_backend/.env

uploads/
fastapi_backend/uploads/

*.log
.vscode/
.idea/